<html ng-app="myApp">

<head>
    <title>Page accueil</title>
    <link rel="stylesheet" href="../css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="../js/app.js"></script>
</head>

<body ng-controller="myAppCtrl">
    <header>
        Page d'accueil
    </header>
    Une variable angularjs : {{helloWorld}}
    <br>Que je controle par ce champ :
    <input type="text" ng-model="helloWorld" />
    <br>Un bouton qui reset ma variable :
    <button ng-click="resetBtn()">Reset</button>
    Un bouton qui recupère des datas json :
    <button ng-click="getDataBtn()">Datas</button>
    <div>
        <ul>
            <li ng-repeat="user in data">{{user.nom}}</li>
        </ul>
    </div>
</body>

</html>